div {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #ddd;
    &:hover{
        // animation: zoom 1s ;
        animation: 3s ease-in 3s infinite reverse both running zoom;
    }
}
@keyframes zoom {
    from { transform: scale(1); }
    to { transform: scale(1.02); }
}
img {
    height: 200px;
    width: auto;
    display: block;
}
.hidden {
    opacity: 0;
    
}