<div class="image-thumb" [ngStyle]="{width:width+'px'}">
    <div class="image-container">
        <img [ngClass]="{hidden: !loaded}"  src="{{picture.downloadUrl}}" alt="{{picture.author}}" (load)="setLoaded()" [ngStyle]="{width:width+'px',height:height+'px'}" />
    </div>
    <div class="display-block" >
        <div class="info-container">
            <span *ngIf="picture.canBeDownloaded===false">Only: {{picture.width}} x {{picture.height}}</span>
            <span 
                *ngIf="picture.canBeDownloaded" 
                class="button download"
                (click)="download()"
                >Download</span>
        </div>
    </div>
</div>

