@import '../../globalVars.scss';
// $thumbHeight: 220;
// $imgHeight: 200;

.image-thumb {
    // height: $thumbHeight+px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: solid 1px $backgroundColorSecondary;
    & .image-container {
        background-color: $backgroundColorSecondary;
    }
    img {
        // height: $imgHeight+px;
        width: auto;
        display: block;
        &:hover{
            // animation: zoom 1s ;
            animation: 3s ease-in 3s infinite reverse both running zoom;
        }
    }
}
.info-container {
    // height: ($thumbHeight - $imgHeight)+px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    line-height: 1.4em;
    padding: 1em;
    & .download {
        text-decoration: underline;
    }
    // font-size: (($thumbHeight - $imgHeight)*.6)+px;
    // line-height: (($thumbHeight - $imgHeight)*.7)+px;
}

@keyframes zoom {
    from { transform: scale(1); }
    to { transform: scale(1.01); }
}
