body {
    background-color: #eee;
}
.app-container {
    background-color: #fff;
    display: block;
    margin: 0 5% auto;
    max-width: 1600px;
    @media only screen and (max-width: 600px) {
        display: none;
    }
}
